<%- include('./partials/header.ejs')%>
    <h1>New Inventory Item %></h1>
    <form class="w-50" action="/inventory/" method="POST">
        <section class="form-group row">
            <fieldset class="col-auto">
                <label for="invIngredient"></label>
                <input type="text" class="form-control" id="invIngredient" name="invIngredient" placeholder="Ingredient Name">
            </fieldset>
            <fieldset class="col-auto">
                <label for="category"></label>
                <select class="custom-select form-control" name="category" id="category">
                    <option value="" disabled selected hidden>Category</option>
                    <% let options = [
                    'baking products',
                    'condiment',
                    'dairy',
                    'oil and fats',
                    'fruits',
                    'grains and nuts',
                    'herbs and spices',
                    'pasta',
                    'protein',
                    'vegetables',
                    'other']
                        for(elem of options) { %>
                            <option value="<%= elem %>"><%= elem %></option>
                        <% } %>
                </select>
            </fieldset>
        </section>
    <br><br>
    <input type="submit" class="btn btn-primary" value="+ New Inventory" >
    </form>
<%- include('./partials/footer.ejs')%>
